/*==========================================
    plan
==========================================*/
.plan {
    padding: 120px 0 90px;
    background: #f0f8ff;
    .single-plan {
        background: $white;
        text-align: center;
        @include transition($transition);
        margin-bottom: 30px;
        h3 {
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 700;
            color: $base-color;
            border-top: 2px solid $base-color-2;
            padding-top: 22px;
            padding-bottom: 16px;
        }
        .part-parcent {
            padding: 21px 0 37px;
            background: $base-color-2;
            @include transition($transition);
            h4 {
                color: $white;
                font-size: 60px;
                font-weight: 700;
                margin-bottom: -3px;
            }
            span {
                display: inline-block;
                &.parcent-info {
                    font-size: 14px;
                    color: $white;
                }
            }
        }
        .part-feature {
            .single-plan-feature {
                padding: 14px 0 17px;
                border-bottom: 1px solid $base-color;
                span {
                    display: block;
                    &.small-text {
                        font-size: 16px;
                        font-weight: 600;
                        color: $base-color;
                        opacity: .8;
                    }
                    &.large-text {
                        font-size: 24px;
                        color: $base-color;
                        font-weight: 600;
                    }
                }
            }
        }
        .part-button {
            padding: 40px 0;
            button {
                height: 60px;
                width: 220px;
                background: $base-color;
                color: $white;
                text-transform: uppercase;
                font-weight: 700;
                font-family: $body-font;
                border: 1px solid $base-color;
                border-radius: 3px;
                @include transition($transition);
                outline: none;
                cursor: pointer;
                &:hover {
                    background: transparent;
                    color: $base-color;
                }
            }
        }
        &:hover, &.active {
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
                h3 {
                    border-top-color: $base-color;
                }
                .part-parcent {
                    background: $base-color;
                }
                .part-button {
                    button {
                        background: $base-color-2;
                        border-color: $base-color-2;
                    }
                }
        }
    }
}